@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-5oi586');
	src:url('fonts/icomoon.eot?#iefix-5oi586') format('embedded-opentype'),
		url('fonts/icomoon.woff?-5oi586') format('woff'),
		url('fonts/icomoon.ttf?-5oi586') format('truetype'),
		url('fonts/icomoon.svg?-5oi586#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-images:before {
	content: "\e601";
}
.icon-film:before {
	content: "\e602";
}
.icon-bubbles:before {
	content: "\e605";
}
.icon-users:before {
	content: "\e603";
}
.icon-menu:before {
	content: "\e604";
}
.icon-paragraph-justify:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-html5:before {
	content: "\e608";
}
